{% extends "base-scaffolding.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<form action="{{ url_for('create') }}" method="post">
    <p>{{error}}</p>
    <label for="input-username">Username: </label>
    <input id="input-username" name="username" type="text" placeholder="username"/>
    <label for="input-email">E-Mail: </label>
    <input id="input-email" name="email" type="email" placeholder="email"/>
    <label for="input-password">Password: </label>
    <input id="input-password" name="password" type="password" placeholder="password"/>
    <button type="submit">Sign Up!</button>
</form>
{% endblock %}
