{% extends "base-scaffolding.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
<form action="{{ url_for('login') }}" method="post">
    <label for="input-username">Username: </label>
    <input id="input-username" name="username" type="text" placeholder="username"/>
    <label for="input-password">Password: </label>
    <input id="input-password" name="password" type="password" placeholder="password"/>
    <button type="submit">Submit!</button>
</form>
<a href="{{ url_for('create') }}">Or sign up here.</a>
{% endblock %}
