{% extends "base-scaffolding.html" %}
{% block title %}Organization {{ org.name }}{% endblock %}
{% block breadcrumbs %}
        <li><a href="{{ url_for('.list') }}">Organization</a></li>
        <li class="active">{{ org.name }}</li>
{% endblock %}
{% block content %}
<div id="content-area">
    {% if org.has_permission() %}
    <form id="content-submit" enctype="multipart/form-data" method="post" action="{{ url_for('.submit', id=org.id) }}">
        <label for="content-title">Title: </label>
        <input id="content-title" name="title"/>
        <label for="content-text">Text: </label>
        <textarea id="content-text" name="text"></textarea>
        <input type="submit">Submit</form>
    </form>
    {% endif %}
{% for c in content %}
    {% if loop.index % 3 == 1 %}
        <table class="content-table">
            <tr>
    {% endif %}
                <td>
                    {{ c.get_print() |safe }}
                </td>
                {% if loop.index % 3 == 0 or loop.last %}
            </tr>
        </table>
    {% endif %}
{% endfor %}
</div>
{% endblock %}
